<div class="flex gap-x-3">
    <div class="avatar">
        <div class="w-16 h-16 rounded">
            <img src="https://picsum.photos/200" />
        </div>
    </div>
    <div class="relative pb-5 last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200 dark:after:bg-neutral-700">
        <div class="relative z-10 size-7 flex justify-center items-center rounded-sm border-2 bg-white">
            {% inlineSvg "activity" %}
        </div>
    </div>
    <div class="grow rounded-sm overflow-hidden">
        <div class="mb-3">
            <div class="p-1 text-sm flex gap-3 justify-between w-full items-center bg-gray-200">
                <div class="mr-auto p-1">
                    <div>
                        <a class="font-bold text-gray-600" href="#">speck</a>
                        <span class="text-gray">created this task.</span>
                    </div>
                </div>
                <span class="font-semibold text-xs">31 Oct 2024 </span>
                <button data-accent-color="" class="rt-reset rt-BaseButton rt-r-size-1 rt-variant-soft rt-IconButton" type="button" id="radix-:Rrmpjttt9ucq:" aria-haspopup="menu" aria-expanded="false" data-state="closed">
                    <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5 15C6.65685 15 8 13.6569 8 12C8 10.3431 6.65685 9 5 9C3.34315 9 2 10.3431 2 12C2 13.6569 3.34315 15 5 15ZM5 13C5.55228 13 6 12.5523 6 12C6 11.4477 5.55228 11 5 11C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13Z" fill="currentColor"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15ZM12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z" fill="currentColor"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M22 12C22 13.6569 20.6569 15 19 15C17.3431 15 16 13.6569 16 12C16 10.3431 17.3431 9 19 9C20.6569 9 22 10.3431 22 12ZM20 12C20 12.5523 19.5523 13 19 13C18.4477 13 18 12.5523 18 12C18 11.4477 18.4477 11 19 11C19.5523 11 20 11.4477 20 12Z" fill="currentColor"></path>
                    </svg>
                </button>
            </div>
            <div class="p-2 text-sm bg-white">Hello Brother</div>
        </div>
    </div>
</div>