<header class="flex items-center gap-3 p-2 px-4 bg-gray-50">
    <div class="flex">{% inlineSvg "sidebar-left" %}</div>
    <div class="text-2xl uppercase font-semibold">Workflow</div>
    <div class="ml-auto">
        <div class="avatar">
            <div class="w-9 rounded-full">
                <img
                    src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
                    class="inline-block"
                />
            </div>
        </div>
    </div>
</header>
