<form
    id="CREATE_TASK_FORM"
    method="dialog"
    hx-post="/tasks"
    hx-target="#PROJECT_TASK_LIST"
    hx-swap="beforeend"
    hx-on::after-request="handleCreateTaskForm()"
>
    <script>
        function handleCreateTaskForm() {
            document.querySelector("#CREATE_TASK_MODAL").close();
            document.querySelector("#CREATE_TASK_FORM").reset();
        }
    </script>
    <div
        class="px-3 py-2 flex justify-between items-center gap-3 border-b border-gray-200"
    >
        <div class="breadcrumbs text-sm py-1">
            <ul>
                <li>
                    <input
                        type="hidden"
                        value="{{ project.projectId }}"
                        name="projectId"
                    />
                    <button class="btn btn-xs">{{ project.slug }}</button>
                </li>
                <li>New Issue</li>
            </ul>
        </div>
        <div class="flex gap-2">
            <button class="btn btn-sm rounded-sm btn-square text-lg">
                {% inlineSvg "outline/window-maximize" %}
            </button>
            <button
                type="button"
                class="btn btn-sm rounded-sm btn-square text-lg"
                aria-label="close"
                formmethod="dialog"
                onclick="CREATE_TASK_MODAL.close()"
            >
                {% inlineSvg "outline/x" %}
            </button>
        </div>
    </div>
    <div class="p-3 bg-gray-100">
        <div class="mb-3 flex gap-2">
            <select name="status" class="select select-xs w-min">
                {% for status in statusList %}
                    <option value="{{ status.statusId }}">
                        {{ status.statusName | capitalize }}
                    </option>
                {% endfor %}
            </select>
            <select name="priority" class="select select-xs w-min">
                {% for priority in priorityList %}
                    {% if priority.precedence == -1 %}
                        <option value="{{ priority.priorityId }}" selected>
                            {{ priority.title | capitalize }}
                        </option>
                    {% else %}
                        <option value="{{ priority.priorityId }}">
                            {{ priority.title | capitalize }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
            <select name="tags" class="select select-xs w-min">
                {% for tag in tagList %}
                    <option value="{{ tag.tagId }}">{{ tag.title }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-xs btn-square" type="button">
                {% inlineSvg "outline/dots" %}
            </button>
        </div>
        <fieldset class="fieldset">
            <label>
                <div class="fieldset-label mb-1.5">Title</div>
                <input
                    type="text"
                    name="title"
                    placeholder="Task title..."
                    class="input input-sm w-full mb-3.5"
                    required
                    autofocus
                />
            </label>
            <label>
                <div class="fieldset-label mb-1.5">Description</div>
                <textarea
                    name="description"
                    placeholder="Description"
                    class="textarea textarea-sm w-full"
                ></textarea>
            </label>
        </fieldset>
        <!-- <div class="prose p-3 -mx-3 rounded-md"> -->
        <!--     <rich-textarea -->
        <!--         name="title" -->
        <!--         class="block" -->
        <!--     ></rich-textarea> -->
        <!--     <style> -->
        <!--         h1.empty::before{ -->
        <!--             color: #94a3b8; -->
        <!--             content: attr(data-placeholder); -->
        <!--             float: left; -->
        <!--             height: 0; -->
        <!--             pointer-events: none; -->
        <!--         } -->
        <!--     </style> -->
        <!-- </div> -->
    </div>
    <div class="flex bg-gray-100 p-3 justify-between items-center">
        <div class="join">
            <button type="button" class="btn btn-sm btn-square join-item">
                {% inlineSvg "outline/subtask" %}
            </button>
            <button type="button" class="btn btn-sm btn-square join-item">
                {% inlineSvg "outline/link-plus" %}
            </button>
            <button type="button" class="btn btn-sm btn-square join-item">
                {% inlineSvg "outline/paperclip" %}
            </button>
        </div>
        <div class="flex gap-3">
            <button
                type="button"
                aria-label="close"
                formmethod="dialog"
                class="btn btn-neutral btn-sm"
                onclick="CREATE_TASK_MODAL.close()"
            >
                Cancel
            </button>
            <button class="btn btn-primary btn-sm" type="submit">Save</button>
        </div>
    </div>
</form>
