{% set currentEstimate = task.estimates %}
<select
    name="estimates"
    hx-include="this"
    hx-patch="{{ '/tasks/' ~ taskSlug }}"
    name="estimates"
    hx-target="this"
    hx-swap="outerHTML"
    class="select select-xs max-w-fit"
>
    {% for estimate in range(1, 10) %}{% if (estimate == currentEstimate) %}
        <option selected value="{{ estimate }}">{{ estimate }}</option>
    {% else %}
        <option value="{{ estimate }}">{{ estimate }}</option>
    {% endif %}{% endfor %}
</select>
